.shipping-block {
  background-color: #edecec;
  font-family: "Cairo", sans-serif;
}
.shipping-head {
  background-color: white;
  padding: 15px 0;
  flex-wrap: wrap;
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.shipping-item {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.shipping-item p {
  padding: 0 10px;
  margin-bottom: 0;
}
.shipping-icon {
  font-size: 24px;
  color: #751fff;
}
@media screen and (max-width: 480px) {
  .shipping-item {
    width: 50%;
    margin-bottom: 10px;
  }
}
