html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .globaldark {
    background-color: #2e2424;
  }
  
  .globallight {
    background-color: #edecec;
  }
  
  .globallightcolor {
    color: white;
  }
  
  .globalcenter {
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  