.newsletter-block {
  background-color: #edecec;
  font-family: "Cairo", sans-serif;
}
.newsletter-block h3,
.newsletter-block p {
  color: white;
}
.newsletter-head {
  background-color: #751fff;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.newsletter-block .email {
  padding: 5px 100px;
}
.newsletter-block button {
  color: white;
  background-color: #000000;
  border-radius: 300px !important;
  border: none;
  padding: 10px 50px;
  -webkit-border-radius: 300px !important;
  -moz-border-radius: 300px !important;
  -ms-border-radius: 300px !important;
  -o-border-radius: 300px !important;
  transition: all 0.5s ease;
}
.newsletter-block button:hover {
  background-color: #03535f;
}
@media screen and (max-width: 966px) {
  .newsletter-block .email {
    padding: 5px 50px;
  }
}
@media screen and (max-width: 720px) {
  .newsletter-block .email {
    padding: 5px 50px;
  }
  .newsletter-block button {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 580px) {
  .newsletter-block .email {
    padding: 5px 30px;
  }
  .newsletter-block button {
    padding: 5px 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 478px) {
  .newsletter-block .email {
    padding: 5px 10px;
  }
  .newsletter-block button {
  }
}
@media screen and (max-width: 380px) {
  .newsletter-block .email {
    padding: 2px 2px;
    flex-direction: column;
  }
  .newsletter-block .email input {
    width: 100%;
  }
  .newsletter-block button {
    margin-top: 10px;
  }
}
