.catagory-block {
  background-color: #edecec;
  font-family: "Cairo", sans-serif;
}
.catagory-head {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.catagory-item {
  width: 31%;
  background-color: #ebebeb;
  margin: 10px;
  padding: 5px 25px;
  border-radius: 50%;
  justify-self: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.catagory-item img {
  transition: all 0.5s ease;
  width: 100%;
}
.catagory-item img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
@media screen and (max-width: 860px) {
  .catagory-item img {
    width: 110%;
  }
  .catagory-item {
    width: 29%;
  }
}
@media screen and (max-width: 700px) {
  .catagory-item img {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .catagory-item img {
    width: 130%;
  }
  .catagory-item {
    width: 42%;
  }
}
